@layer theme, base, mui, components, utilities;
@import "mtc-icon.css";
@import 'tailwindcss';

@theme inline {
  /* Material UI typography */
  /* --font-h1: var(--mui-font-h1);
  --font-h2: var(--mui-font-h2);
  --font-h3: var(--mui-font-h3);
  --font-h4: var(--mui-font-h4);
  --font-h5: var(--mui-font-h5);
  --font-h6: var(--mui-font-h6);
  --font-subtitle1: var(--mui-font-subtitle1);
  --font-subtitle2: var(--mui-font-subtitle2);
  --font-body1: var(--mui-font-body1);
  --font-body2: var(--mui-font-body2);
  --font-button: var(--mui-font-button);
  --font-caption: var(--mui-font-caption);
  --font-overline: var(--mui-font-overline); */

  /* --letter-spacing-h1: -0.01562em;
  --letter-spacing-h2: -0.00833em;
  --letter-spacing-h4: 0.00735em;
  --letter-spacing-h6: 0.0075em;
  --letter-spacing-body1: 0.00938em;
  --letter-spacing-body2: 0.01071em; */

  /* Material UI breakpoints */
  /* --breakpoint-sm: 37.5rem;
  --breakpoint-md: 56.25rem;
  --breakpoint-lg: 75rem;
  --breakpoint-xl: 96rem;
  --breakpoint-2xl: 120rem; 1920px */

  /* Material UI theme colors */
  /* --color-primary: rgb(var(--mui-palette-primary-mainChannel));
  --color-primary-light: rgb(var(--mui-palette-primary-lightChannel));
  --color-primary-dark: rgb(var(--mui-palette-primary-darkChannel));
  --color-primary-contrast: rgb(var(--mui-palette-primary-contrastTextChannel));

  --color-secondary: rgb(var(--mui-palette-secondary-mainChannel));
  --color-secondary-light: rgb(var(--mui-palette-secondary-lightChannel));
  --color-secondary-dark: rgb(var(--mui-palette-secondary-darkChannel));
  --color-secondary-contrast: rgb(var(--mui-palette-secondary-contrastTextChannel)); */

  /* Material UI status colors */
  /* --color-info: rgb(var(--mui-palette-info-mainChannel));
  --color-info-light: rgb(var(--mui-palette-info-lightChannel));
  --color-info-dark: rgb(var(--mui-palette-info-darkChannel));
  --color-info-contrast: rgb(var(--mui-palette-info-contrastTextChannel));

  --color-error: rgb(var(--mui-palette-error-mainChannel));
  --color-error-light: rgb(var(--mui-palette-error-lightChannel));
  --color-error-dark: rgb(var(--mui-palette-error-darkChannel));
  --color-error-contrast: rgb(var(--mui-palette-error-contrastTextChannel));

  --color-success: rgb(var(--mui-palette-success-mainChannel));
  --color-success-light: rgb(var(--mui-palette-success-lightChannel));
  --color-success-dark: rgb(var(--mui-palette-success-darkChannel));
  --color-success-contrast: rgb(var(--mui-palette-success-contrastTextChannel));

  --color-warning: rgb(var(--mui-palette-warning-mainChannel));
  --color-warning-light: rgb(var(--mui-palette-warning-lightChannel));
  --color-warning-dark: rgb(var(--mui-palette-warning-darkChannel));
  --color-warning-contrast: rgb(var(--mui-palette-warning-contrastTextChannel)); */

  /* Material UI text & common colors */
  /* --color-text-primary: rgb(var(--mui-palette-text-primaryChannel));
  --color-text-secondary: rgb(var(--mui-palette-text-secondaryChannel));
  --color-text-disabled: var(--mui-palette-text-disabled);
  --color-common-background: var(--mui-palette-common-background);
  --color-common-onBackground: var(--mui-palette-common-onBackground);
  --color-divider: var(--mui-palette-divider); */

  /* Material UI background colors */
  /* --color-background-default: rgb(var(--mui-palette-background-defaultChannel));
  --color-background-paper: rgb(var(--mui-palette-background-paperChannel)); */

  /* Material UI action colors */
  /* --color-action-active: var(--mui-palette-action-active);
  --color-action-hover: var(--mui-palette-action-hover);
  --color-action-selected: var(--mui-palette-action-selected);
  --color-action-disabled: var(--mui-palette-action-disabled);
  --color-action-focus: var(--mui-palette-action-focus); */

  /* Material UI gray scale */
  /* --color-gray-50: var(--mui-palette-grey-50);
  --color-gray-100: var(--mui-palette-grey-100);
  --color-gray-200: var(--mui-palette-grey-200);
  --color-gray-300: var(--mui-palette-grey-300);
  --color-gray-400: var(--mui-palette-grey-400);
  --color-gray-500: var(--mui-palette-grey-500);
  --color-gray-600: var(--mui-palette-grey-600);
  --color-gray-700: var(--mui-palette-grey-700);
  --color-gray-800: var(--mui-palette-grey-800);
  --color-gray-900: var(--mui-palette-grey-900);
  --color-gray-A100: var(--mui-palette-grey-A100);
  --color-gray-A200: var(--mui-palette-grey-A200);
  --color-gray-A400: var(--mui-palette-grey-A400);
  --color-gray-A700: var(--mui-palette-grey-A700); */

  /* Material UI Component Colors */
  /* Alert */
  /* --color-Alert-error: var(--mui-palette-Alert-errorColor);
  --color-Alert-info: var(--mui-palette-Alert-infoColor);
  --color-Alert-success: var(--mui-palette-Alert-successColor);
  --color-Alert-warning: var(--mui-palette-Alert-warningColor);
  --color-Alert-errorFilled: var(--mui-palette-Alert-errorFilledBg);
  --color-Alert-infoFilled: var(--mui-palette-Alert-infoFilledBg);
  --color-Alert-successFilled: var(--mui-palette-Alert-successFilledBg);
  --color-Alert-warningFilled: var(--mui-palette-Alert-warningFilledBg);
  --color-Alert-errorFilledColor: var(--mui-palette-Alert-errorFilledColor);
  --color-Alert-infoFilledColor: var(--mui-palette-Alert-infoFilledColor);
  --color-Alert-successFilledColor: var(--mui-palette-Alert-successFilledColor);
  --color-Alert-warningFilledColor: var(--mui-palette-Alert-warningFilledColor);
  --color-Alert-errorStandard: var(--mui-palette-Alert-errorStandardBg);
  --color-Alert-infoStandard: var(--mui-palette-Alert-infoStandardBg);
  --color-Alert-successStandard: var(--mui-palette-Alert-successStandardBg);
  --color-Alert-warningStandard: var(--mui-palette-Alert-warningStandardBg);
  --color-Alert-errorIcon: var(--mui-palette-Alert-errorIconColor);
  --color-Alert-infoIcon: var(--mui-palette-Alert-infoIconColor);
  --color-Alert-successIcon: var(--mui-palette-Alert-successIconColor);
  --color-Alert-warningIcon: var(--mui-palette-Alert-warningIconColor); */

  /* AppBar */
  /* --color-AppBar-default: var(--mui-palette-AppBar-defaultBg); */

  /* Avatar */
  /* --color-Avatar-default: var(--mui-palette-Avatar-defaultBg); */

  /* Button */
  /* --color-Button-inheritContained: var(--mui-palette-Button-inheritContainedBg);
  --color-Button-inheritContainedHover: var(
    --mui-palette-Button-inheritContainedHoverBg
  ); */

  /* Chip */
  /* --color-Chip-defaultBorder: var(--mui-palette-Chip-defaultBorder);
  --color-Chip-defaultAvatar: var(--mui-palette-Chip-defaultAvatarColor);
  --color-Chip-defaultIcon: var(--mui-palette-Chip-defaultIconColor); */

  /* FilledInput */
  /* --color-FilledInput-bg: var(--mui-palette-FilledInput-bg);
  --color-FilledInput-hover: var(--mui-palette-FilledInput-hoverBg);
  --color-FilledInput-disabled: var(--mui-palette-FilledInput-disabledBg); */

  /* LinearProgress */
  /* --color-LinearProgress-primary: var(--mui-palette-LinearProgress-primaryBg);
  --color-LinearProgress-secondary: var(--mui-palette-LinearProgress-secondaryBg);
  --color-LinearProgress-error: var(--mui-palette-LinearProgress-errorBg);
  --color-LinearProgress-info: var(--mui-palette-LinearProgress-infoBg);
  --color-LinearProgress-success: var(--mui-palette-LinearProgress-successBg);
  --color-LinearProgress-warning: var(--mui-palette-LinearProgress-warningBg); */

  /* Skeleton */
  /* --color-Skeleton-bg: var(--mui-palette-Skeleton-bg); */

  /* Slider */
  /* --color-Slider-primary: var(--mui-palette-Slider-primaryTrack);
  --color-Slider-secondary: var(--mui-palette-Slider-secondaryTrack);
  --color-Slider-error: var(--mui-palette-Slider-errorTrack);
  --color-Slider-info: var(--mui-palette-Slider-infoTrack);
  --color-Slider-success: var(--mui-palette-Slider-successTrack);
  --color-Slider-warning: var(--mui-palette-Slider-warningTrack); */

  /* SnackbarContent */
  /* --color-SnackbarContent-bg: var(--mui-palette-SnackbarContent-bg);
  --color-SnackbarContent-text: var(--mui-palette-SnackbarContent-color); */

  /* SpeedDialAction */
  /* --color-SpeedDialAction-fabHover: var(--mui-palette-SpeedDialAction-fabHoverBg); */

  /* StepConnector & StepContent */
  /* --color-StepConnector-border: var(--mui-palette-StepConnector-border);
  --color-StepContent-border: var(--mui-palette-StepContent-border); */

  /* Switch */
  /* --color-Switch-default: var(--mui-palette-Switch-defaultColor);
  --color-Switch-defaultDisabled: var(--mui-palette-Switch-defaultDisabledColor);
  --color-Switch-primaryDisabled: var(--mui-palette-Switch-primaryDisabledColor);
  --color-Switch-secondaryDisabled: var(--mui-palette-Switch-secondaryDisabledColor);
  --color-Switch-errorDisabled: var(--mui-palette-Switch-errorDisabledColor);
  --color-Switch-infoDisabled: var(--mui-palette-Switch-infoDisabledColor);
  --color-Switch-successDisabled: var(--mui-palette-Switch-successDisabledColor);
  --color-Switch-warningDisabled: var(--mui-palette-Switch-warningDisabledColor); */

  /* TableCell */
  /* --color-TableCell-border: var(--mui-palette-TableCell-border); */

  /* Tooltip */
  /* --color-Tooltip-bg: var(--mui-palette-Tooltip-bg); */

  /* Material UI shadows */
  /* --shadow-1: var(--mui-shadows-1);
  --shadow-2: var(--mui-shadows-2);
  --shadow-3: var(--mui-shadows-3);
  --shadow-4: var(--mui-shadows-4);
  --shadow-5: var(--mui-shadows-5);
  --shadow-6: var(--mui-shadows-6);
  --shadow-7: var(--mui-shadows-7);
  --shadow-8: var(--mui-shadows-8);
  --shadow-9: var(--mui-shadows-9);
  --shadow-10: var(--mui-shadows-10);
  --shadow-11: var(--mui-shadows-11);
  --shadow-12: var(--mui-shadows-12);
  --shadow-13: var(--mui-shadows-13);
  --shadow-14: var(--mui-shadows-14);
  --shadow-15: var(--mui-shadows-15);
  --shadow-16: var(--mui-shadows-16);
  --shadow-17: var(--mui-shadows-17);
  --shadow-18: var(--mui-shadows-18);
  --shadow-19: var(--mui-shadows-19);
  --shadow-20: var(--mui-shadows-20);
  --shadow-21: var(--mui-shadows-21);
  --shadow-22: var(--mui-shadows-22);
  --shadow-23: var(--mui-shadows-23);
  --shadow-24: var(--mui-shadows-24); */

  /* Material UI opacity */
  /* --opacity-activated: calc(100% * var(--mui-palette-action-activatedOpacity));
  --opacity-disabled: calc(100% * var(--mui-palette-action-disabledOpacity));
  --opacity-focus: calc(100% * var(--mui-palette-action-focusOpacity));
  --opacity-hover: calc(100% * var(--mui-palette-action-hoverOpacity));
  --opacity-selected: calc(100% * var(--mui-palette-action-selectedOpacity)); */

  /* Material UI overlays */
  /* --overlay-1: var(--mui-overlays-1);
  --overlay-2: var(--mui-overlays-2);
  --overlay-3: var(--mui-overlays-3);
  --overlay-4: var(--mui-overlays-4);
  --overlay-5: var(--mui-overlays-5);
  --overlay-6: var(--mui-overlays-6);
  --overlay-7: var(--mui-overlays-7);
  --overlay-8: var(--mui-overlays-8);
  --overlay-9: var(--mui-overlays-9);
  --overlay-10: var(--mui-overlays-10);
  --overlay-11: var(--mui-overlays-11);
  --overlay-12: var(--mui-overlays-12);
  --overlay-13: var(--mui-overlays-13);
  --overlay-14: var(--mui-overlays-14);
  --overlay-15: var(--mui-overlays-15);
  --overlay-16: var(--mui-overlays-16);
  --overlay-17: var(--mui-overlays-17);
  --overlay-18: var(--mui-overlays-18);
  --overlay-19: var(--mui-overlays-19);
  --overlay-20: var(--mui-overlays-20);
  --overlay-21: var(--mui-overlays-21);
  --overlay-22: var(--mui-overlays-22);
  --overlay-23: var(--mui-overlays-23);
  --overlay-24: var(--mui-overlays-24); */
}

/* Material UI base styles */
/* @layer base {
  h1 {
    font: var(--mui-font-h1);
    letter-spacing: -0.01562em;
  }
  h2 {
    font: var(--mui-font-h2);
    letter-spacing: -0.00833em;
  }
  h3 {
    font: var(--mui-font-h3);
  }
  h4 {
    font: var(--mui-font-h4);
    letter-spacing: 0.00735em;
  }
  h5 {
    font: var(--mui-font-h5);
  }
  h6 {
    font: var(--mui-font-h6);
    letter-spacing: 0.0075em;
  }
  p {
    font: var(--mui-font-body1);
    letter-spacing: 0.00938em;
  }
  span {
    font: var(--mui-font-body2);
    letter-spacing: 0.01071em;
  }
} */

/* Material UI typography utilities */
/* @utility typography-* {
  font: --value(--font-*);
} */

/* Material UI overlay utilities */
/* @utility overlay-* {
  background-image: --value(--overlay-*);
} */

/* Material UI elevation utilities */
/* @utility elevation-* {
  background-image: --value(--overlay-*);
  box-shadow: --value(--shadow-*);
} */


@config '../../../tailwind.config.cjs';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility dark {
  &body {
    @apply bg-[#060818];
  }

  .horizontal & .nav-item button div:first-child svg {
    @apply text-white/50;
  }

  &.horizontal .nav-item button div:first-child svg {
    @apply text-white/50;
  }
}

@utility panel {
  /* Panel */
  @apply relative rounded-md bg-white p-5 shadow-sm dark:bg-black;
}

@utility navbar-sticky {
  /* Navbar */
  & header {
    @apply sticky top-0 z-20;
  }
}

@utility navbar-floating {
  & header {
    @apply sticky top-0 z-20;
  }
  & header {
    @apply bg-[#fafafa]/90 px-6 pt-4 dark:bg-[#060818]/90;
  }
  & header > div > div:first-child {
    @apply rounded-md;
  }
  .horizontal & header > div > div:first-child {
    @apply rounded-b-none;
  }
  .horizontal & header .horizontal-menu {
    @apply rounded-b-md;
  }
}

@utility horizontal {
  & .navbar-floating header > div > div:first-child {
    @apply rounded-b-none;
  }
  & .navbar-floating header .horizontal-menu {
    @apply rounded-b-md;
  }

  /* Horizontal layouts */
  & .horizontal-menu {
    @apply hidden shadow-md lg:flex;
  }
  & .horizontal-logo {
    @apply flex;
  }
  & .main-container .main-content {
    @apply ltr:ml-0 rtl:mr-0;
  }
  & .sidebar {
    @apply ltr:-left-[260px] rtl:-right-[260px];
  }
  &.toggle-sidebar .sidebar {
    @apply ltr:left-0 rtl:right-0 lg:ltr:-left-[260px] lg:rtl:-right-[260px];
  }

  & .nav-item a div:first-child svg {
    @apply w-5 h-5 text-black/50 dark:text-white/50;
  }

  & .nav-item button div:first-child svg {
    @apply w-5 h-5 text-black/50 dark:text-white/50;
  }

  & .dark .nav-item button div:first-child svg {
    @apply text-white/50;
  }

  & .dark .nav-item button div:first-child svg {
    @apply text-white/50;
  }
}

@utility horizontal-menu {
  .horizontal .navbar-floating header & {
    @apply rounded-b-md;
  }

  /* Horizontal layouts */
  .horizontal & {
    @apply hidden shadow-md lg:flex;
  }

  & .nav-link {
    @apply flex items-center py-2.5 px-2 rounded-lg hover:bg-[#000]/8 hover:text-black dark:hover:bg-[#181f32] dark:hover:text-white-dark xl:px-4;
  }

  & .nav-link.active {
    @apply bg-[#000]/8 text-black dark:bg-[#181f32] dark:text-white-dark;
  }

  & ul.sub-menu {
    @apply absolute top-full z-10 hidden min-w-[180px] rounded-sm bg-white p-0 py-2 text-dark shadow-sm dark:bg-[#1b2e4b] dark:text-white-dark;
  }

  & ul.sub-menu a {
    @apply flex items-center justify-between px-4 py-2 hover:bg-gray-100 hover:text-primary dark:hover:bg-primary/10 w-full;
  }

  & ul.sub-menu button {
    @apply flex items-center justify-between px-4 py-2 hover:bg-gray-100 hover:text-primary dark:hover:bg-primary/10 w-full;
  }

  & ul.sub-menu a.active {
    @apply bg-gray-100 text-primary dark:bg-primary/10;
  }

  & ul.sub-menu button.active {
    @apply bg-gray-100 text-primary dark:bg-primary/10;
  }

  & > li.nav-item:hover > ul.sub-menu {
    @apply block;
  }

  & > li.nav-item > ul.sub-menu > li:hover > ul {
    @apply block;
  }
}

@utility sidebar {
  /* Sidebar */
  &:hover .nav-item > a {
    @apply w-auto;
  }

  & .nav-item > button {
    @apply mb-1 flex w-full items-center justify-between overflow-hidden whitespace-nowrap rounded-md p-2.5 text-[#506690] hover:bg-[#000]/8 hover:text-black dark:hover:bg-[#181f32] dark:hover:text-white-dark;
  }

  & .nav-item > a {
    @apply mb-1 flex w-full items-center justify-between overflow-hidden whitespace-nowrap rounded-md p-2.5 text-[#506690] hover:bg-[#000]/8 hover:text-black dark:hover:bg-[#181f32] dark:hover:text-white-dark;
  }
  & .nav-item > button.active {
    @apply bg-[#000]/8 text-black dark:bg-[#181f32] dark:text-white-dark;
  }
  & .nav-item > a.active {
    @apply bg-[#000]/8 text-black dark:bg-[#181f32] dark:text-white-dark;
  }

  & .nav-item > button.active > div > span {
    @apply dark:text-white-dark!;
  }

  & .nav-item > a.active > div > span {
    @apply dark:text-white-dark!;
  }

  & ul.sub-menu li button {
    @apply flex w-full items-center px-9 py-2.5 before:h-0.5 before:w-2 before:rounded-sm before:bg-gray-300 hover:bg-gray-100
hover:text-primary hover:before:bg-primary! ltr:before:mr-2 rtl:before:ml-2 dark:before:bg-gray-500 dark:hover:bg-gray-900 dark:hover:text-primary;
  }

  & ul.sub-menu li a {
    @apply flex w-full items-center px-9 py-2.5 before:h-0.5 before:w-2 before:rounded-sm before:bg-gray-300 hover:bg-gray-100
hover:text-primary hover:before:bg-primary! ltr:before:mr-2 rtl:before:ml-2 dark:before:bg-gray-500 dark:hover:bg-gray-900 dark:hover:text-primary;
  }
  & ul.sub-menu li button.active {
    @apply text-primary before:bg-primary;
  }
  & ul.sub-menu li a.active {
    @apply text-primary before:bg-primary;
  }

  & .nav-item a div:first-child svg {
    @apply h-5 w-5 text-black/50 dark:text-white/50;
  }

  & .nav-item button div:first-child svg {
    @apply h-5 w-5 text-black/50 dark:text-white/50;
  }
  .horizontal & {
    @apply ltr:-left-[260px] rtl:-right-[260px];
  }
  .horizontal.toggle-sidebar & {
    @apply ltr:left-0 rtl:right-0 lg:ltr:-left-[260px] lg:rtl:-right-[260px];
  }
  .vertical & {
    @apply ltr:-left-[260px] rtl:-right-[260px] lg:ltr:left-0 lg:rtl:right-0;
  }
  .vertical.toggle-sidebar & {
    @apply ltr:left-0 rtl:right-0 lg:ltr:-left-[260px] lg:rtl:-right-[260px];
  }

  /* Collapsible vertical layouts */
  .collapsible-vertical & {
    @apply hover:w-[260px] ltr:-left-[260px] rtl:-right-[260px] lg:w-[70px] lg:ltr:left-0 lg:rtl:right-0;
  }
  .collapsible-vertical.toggle-sidebar & {
    @apply ltr:left-0 rtl:right-0;
  }
  .collapsible-vertical.toggle-sidebar & {
    @apply lg:w-[260px];
  }
  .collapsible-vertical.toggle-sidebar & .nav-item > a {
    @apply w-auto;
  }

  .collapsible-vertical & .sub-menu {
    @apply lg:hidden;
  }
  .collapsible-vertical &:hover .sub-menu {
    @apply block;
  }

  .collapsible-vertical &:hover .sub-menu.recent-submenu {
    @apply block;
  }

  .collapsible-vertical.toggle-sidebar & .sub-menu {
    @apply block;
  }
  .collapsible-vertical & .collapse-icon {
    @apply transition-opacity duration-300 lg:opacity-0;
  }
  .collapsible-vertical &:hover .collapse-icon {
    @apply duration-500 lg:opacity-100;
  }

  .collapsible-vertical &:hover .main-logo > span {
    @apply duration-500 lg:opacity-100;
  }
  .collapsible-vertical.toggle-sidebar & .collapse-icon {
    @apply flex rotate-0;
  }
  .collapsible-vertical &:hover .collapse-icon {
    @apply flex rotate-180;
  }
  .collapsible-vertical & ul > h2 span {
    @apply hidden whitespace-nowrap;
  }
  .collapsible-vertical & ul > h2 svg {
    @apply block;
  }
  .collapsible-vertical &:hover ul > h2 span {
    @apply inline;
  }

  .collapsible-vertical.toggle-sidebar & ul > h2 span {
    @apply inline;
  }
  .collapsible-vertical &:hover ul > h2 svg {
    @apply hidden;
  }

  .collapsible-vertical.toggle-sidebar & ul > h2 svg {
    @apply hidden;
  }

  .boxed-layout.vertical & {
    @apply overflow-hidden lg:ltr:left-auto lg:rtl:right-auto;
  }

  .boxed-layout.collapsible-vertical & {
    @apply overflow-hidden lg:ltr:left-auto lg:rtl:right-auto;
  }

  .boxed-layout.vertical.toggle-sidebar & {
    @apply lg:w-0;
  }
}

@utility nav-item {
  /* Sidebar */
  .sidebar:hover & > a {
    @apply w-auto;
  }

  .sidebar & > button {
    @apply mb-1 flex w-full items-center justify-between overflow-hidden whitespace-nowrap rounded-md p-2.5 text-[#506690] hover:bg-[#000]/8 hover:text-black dark:hover:bg-[#181f32] dark:hover:text-white-dark;
  }

  .sidebar & > a {
    @apply mb-1 flex w-full items-center justify-between overflow-hidden whitespace-nowrap rounded-md p-2.5 text-[#506690] hover:bg-[#000]/8 hover:text-black dark:hover:bg-[#181f32] dark:hover:text-white-dark;
  }
  .sidebar & > button.active {
    @apply bg-[#000]/8 text-black dark:bg-[#181f32] dark:text-white-dark;
  }

  .sidebar & > a.active {
    @apply bg-[#000]/8 text-black dark:bg-[#181f32] dark:text-white-dark;
  }

  .sidebar & > button.active > div > span {
    @apply dark:text-white-dark!;
  }

  .sidebar & > a.active > div > span {
    @apply dark:text-white-dark!;
  }

  .sidebar & a div:first-child svg {
    @apply h-5 w-5 text-black/50 dark:text-white/50;
  }

  .sidebar & button div:first-child svg {
    @apply h-5 w-5 text-black/50 dark:text-white/50;
  }

  .horizontal & a div:first-child svg {
    @apply w-5 h-5 text-black/50 dark:text-white/50;
  }

  .horizontal & button div:first-child svg {
    @apply w-5 h-5 text-black/50 dark:text-white/50;
  }

  .horizontal .dark & button div:first-child svg {
    @apply text-white/50;
  }

  .dark.horizontal & button div:first-child svg {
    @apply text-white/50;
  }

  .horizontal-menu > &li:hover > ul.sub-menu {
    @apply block;
  }

  .horizontal-menu > &li > ul.sub-menu > li:hover > ul {
    @apply block;
  }
  .collapsible-vertical.toggle-sidebar .sidebar & > a {
    @apply w-auto;
  }
}

@utility active {
  .sidebar .nav-item > &button {
    @apply bg-[#000]/8 text-black dark:bg-[#181f32] dark:text-white-dark;
  }

  .sidebar .nav-item > &a {
    @apply bg-[#000]/8 text-black dark:bg-[#181f32] dark:text-white-dark;
  }

  .sidebar .nav-item > &button > div > span {
    @apply dark:text-white-dark!;
  }

  .sidebar .nav-item > &a > div > span {
    @apply dark:text-white-dark!;
  }
  .sidebar ul.sub-menu li &button {
    @apply text-primary before:bg-primary;
  }

  .sidebar ul.sub-menu li &a {
    @apply text-primary before:bg-primary;
  }

  .horizontal-menu &.nav-link {
    @apply bg-[#000]/8 text-black dark:bg-[#181f32] dark:text-white-dark;
  }

  .horizontal-menu ul.sub-menu &a {
    @apply bg-gray-100 text-primary dark:bg-primary/10;
  }

  .horizontal-menu ul.sub-menu &button {
    @apply bg-gray-100 text-primary dark:bg-primary/10;
  }
}

@utility sub-menu {
  .sidebar &ul li button {
    @apply flex w-full items-center px-9 py-2.5 before:h-0.5 before:w-2 before:rounded-sm before:bg-gray-300 hover:bg-gray-100
hover:text-primary hover:before:bg-primary! ltr:before:mr-2 rtl:before:ml-2 dark:before:bg-gray-500 dark:hover:bg-gray-900 dark:hover:text-primary;
  }

  .sidebar &ul li a {
    @apply flex w-full items-center px-9 py-2.5 before:h-0.5 before:w-2 before:rounded-sm before:bg-gray-300 hover:bg-gray-100
hover:text-primary hover:before:bg-primary! ltr:before:mr-2 rtl:before:ml-2 dark:before:bg-gray-500 dark:hover:bg-gray-900 dark:hover:text-primary;
  }
  .sidebar &ul li button.active {
    @apply text-primary before:bg-primary;
  }

  .sidebar &ul li a.active {
    @apply text-primary before:bg-primary;
  }

  .horizontal-menu &ul {
    @apply absolute top-full z-10 hidden min-w-[180px] rounded-sm bg-white p-0 py-2 text-dark shadow-sm dark:bg-[#1b2e4b] dark:text-white-dark;
  }

  .horizontal-menu &ul a {
    @apply flex items-center justify-between px-4 py-2 hover:bg-gray-100 hover:text-primary dark:hover:bg-primary/10 w-full;
  }

  .horizontal-menu &ul button {
    @apply flex items-center justify-between px-4 py-2 hover:bg-gray-100 hover:text-primary dark:hover:bg-primary/10 w-full;
  }

  .horizontal-menu &ul a.active {
    @apply bg-gray-100 text-primary dark:bg-primary/10;
  }

  .horizontal-menu &ul button.active {
    @apply bg-gray-100 text-primary dark:bg-primary/10;
  }

  .horizontal-menu > li.nav-item:hover > &ul {
    @apply block;
  }

  .horizontal-menu > li.nav-item > &ul > li:hover > ul {
    @apply block;
  }

  .collapsible-vertical .sidebar & {
    @apply lg:hidden;
  }
  .collapsible-vertical .sidebar:hover & {
    @apply block;
  }

  .collapsible-vertical .sidebar:hover &.recent-submenu {
    @apply block;
  }

  .collapsible-vertical.toggle-sidebar .sidebar & {
    @apply block;
  }
}

@utility main-container {
  & .main-content {
    @apply transition-all duration-300 lg:ltr:ml-[260px] lg:rtl:mr-[260px];
  }
  .horizontal & .main-content {
    @apply ltr:ml-0 rtl:mr-0;
  }
  .vertical.toggle-sidebar & .main-content {
    @apply ltr:ml-0 rtl:mr-0;
  }
}

@utility main-content {
  .main-container & {
    @apply transition-all duration-300 lg:ltr:ml-[260px] lg:rtl:mr-[260px];
  }
  .horizontal .main-container & {
    @apply ltr:ml-0 rtl:mr-0;
  }
  .vertical.toggle-sidebar .main-container & {
    @apply ltr:ml-0 rtl:mr-0;
  }
  .collapsible-vertical.toggle-sidebar & {
    @apply lg:w-[calc(100%-260px)] lg:ltr:ml-[260px] lg:rtl:mr-[260px];
  }
  .collapsible-vertical & {
    @apply lg:w-[calc(100%-70px)] lg:ltr:ml-[70px] lg:rtl:mr-[70px];
  }
}

@utility horizontal-logo {
  .horizontal & {
    @apply flex;
  }

  /* Vertical layouts */
  .vertical.toggle-sidebar & {
    @apply flex;
  }
}

@utility toggle-sidebar {
  &.horizontal .sidebar {
    @apply ltr:left-0 rtl:right-0 lg:ltr:-left-[260px] lg:rtl:-right-[260px];
  }

  /* Vertical layouts */
  &.vertical .horizontal-logo {
    @apply flex;
  }
  & .vertical .collapse-icon {
    @apply flex;
  }
  &.vertical .main-container .main-content {
    @apply ltr:ml-0 rtl:mr-0;
  }
  &.vertical .sidebar {
    @apply ltr:left-0 rtl:right-0 lg:ltr:-left-[260px] lg:rtl:-right-[260px];
  }
  &.collapsible-vertical .sidebar {
    @apply ltr:left-0 rtl:right-0;
  }
  &.collapsible-vertical .sidebar {
    @apply lg:w-[260px];
  }
  &.collapsible-vertical .sidebar .nav-item > a {
    @apply w-auto;
  }
  &.collapsible-vertical .main-content {
    @apply lg:w-[calc(100%-260px)] lg:ltr:ml-[260px] lg:rtl:mr-[260px];
  }
  & .collapsible-vertical .sidebar .sub-menu {
    @apply block;
  }
  & .collapsible-vertical .collapse-icon {
    @apply duration-500 lg:opacity-100;
  }
  & .collapsible-vertical .main-logo > span {
    @apply duration-500 lg:opacity-100;
  }
  &.collapsible-vertical .sidebar .collapse-icon {
    @apply flex rotate-0;
  }
  & .collapsible-vertical .sidebar ul > h2 span {
    @apply inline;
  }
  & .collapsible-vertical .sidebar ul > h2 svg {
    @apply hidden;
  }

  &.boxed-layout.vertical .sidebar {
    @apply lg:w-0;
  }
}

@utility nav-link {
  .horizontal-menu & {
    @apply flex items-center py-2.5 px-2 rounded-lg hover:bg-[#000]/8 hover:text-black dark:hover:bg-[#181f32] dark:hover:text-white-dark xl:px-4;
  }

  .horizontal-menu &.active {
    @apply bg-[#000]/8 text-black dark:bg-[#181f32] dark:text-white-dark;
  }
}

@utility vertical {
  /* Vertical layouts */
  &.toggle-sidebar .horizontal-logo {
    @apply flex;
  }
  &.toggle-sidebar .collapse-icon {
    @apply flex;
  }
  &.toggle-sidebar .main-container .main-content {
    @apply ltr:ml-0 rtl:mr-0;
  }
  & .sidebar {
    @apply ltr:-left-[260px] rtl:-right-[260px] lg:ltr:left-0 lg:rtl:right-0;
  }
  &.toggle-sidebar .sidebar {
    @apply ltr:left-0 rtl:right-0 lg:ltr:-left-[260px] lg:rtl:-right-[260px];
  }

  &.boxed-layout .sidebar {
    @apply overflow-hidden lg:ltr:left-auto lg:rtl:right-auto;
  }

  &.boxed-layout.toggle-sidebar .sidebar {
    @apply lg:w-0;
  }
}

@utility collapse-icon {
  .vertical.toggle-sidebar & {
    @apply flex;
  }
  .collapsible-vertical .sidebar & {
    @apply transition-opacity duration-300 lg:opacity-0;
  }
  .collapsible-vertical .sidebar:hover & {
    @apply duration-500 lg:opacity-100;
  }

  .collapsible-vertical.toggle-sidebar & {
    @apply duration-500 lg:opacity-100;
  }
  .collapsible-vertical.toggle-sidebar .sidebar & {
    @apply flex rotate-0;
  }
  .collapsible-vertical .sidebar:hover & {
    @apply flex rotate-180;
  }
}

@utility collapsible-vertical {
  /* Collapsible vertical layouts */
  & .sidebar {
    @apply hover:w-[260px] ltr:-left-[260px] rtl:-right-[260px] lg:w-[70px] lg:ltr:left-0 lg:rtl:right-0;
  }
  &.toggle-sidebar .sidebar {
    @apply ltr:left-0 rtl:right-0;
  }
  &.toggle-sidebar .sidebar {
    @apply lg:w-[260px];
  }
  &.toggle-sidebar .sidebar .nav-item > a {
    @apply w-auto;
  }
  &.toggle-sidebar .main-content {
    @apply lg:w-[calc(100%-260px)] lg:ltr:ml-[260px] lg:rtl:mr-[260px];
  }

  & .sidebar .sub-menu {
    @apply lg:hidden;
  }
  & .sidebar:hover .sub-menu {
    @apply block;
  }
  & .sidebar:hover .sub-menu.recent-submenu {
    @apply block;
  }
  &.toggle-sidebar .sidebar .sub-menu {
    @apply block;
  }
  & .main-content {
    @apply lg:w-[calc(100%-70px)] lg:ltr:ml-[70px] lg:rtl:mr-[70px];
  }
  & .sidebar .collapse-icon {
    @apply transition-opacity duration-300 lg:opacity-0;
  }
  & .main-logo > span {
    @apply transition-opacity duration-300 lg:opacity-0;
  }
  & .sidebar:hover .collapse-icon {
    @apply duration-500 lg:opacity-100;
  }
  &.toggle-sidebar .collapse-icon {
    @apply duration-500 lg:opacity-100;
  }
  & .sidebar:hover .main-logo > span {
    @apply duration-500 lg:opacity-100;
  }
  &.toggle-sidebar .main-logo > span {
    @apply duration-500 lg:opacity-100;
  }
  &.toggle-sidebar .sidebar .collapse-icon {
    @apply flex rotate-0;
  }
  & .sidebar:hover .collapse-icon {
    @apply flex rotate-180;
  }
  & .sidebar ul > h2 span {
    @apply hidden whitespace-nowrap;
  }
  & .sidebar ul > h2 svg {
    @apply block;
  }
  & .sidebar:hover ul > h2 span {
    @apply inline;
  }
  &.toggle-sidebar .sidebar ul > h2 span {
    @apply inline;
  }
  & .sidebar:hover ul > h2 svg {
    @apply hidden;
  }
  &.toggle-sidebar .sidebar ul > h2 svg {
    @apply hidden;
  }

  & .boxed-layout .sidebar {
    @apply overflow-hidden lg:ltr:left-auto lg:rtl:right-auto;
  }
}

@utility recent-submenu {
  .collapsible-vertical .sidebar:hover &.sub-menu {
    @apply block;
  }
}

@utility main-logo {
  .collapsible-vertical & > span {
    @apply transition-opacity duration-300 lg:opacity-0;
  }

  .collapsible-vertical .sidebar:hover & > span {
    @apply duration-500 lg:opacity-100;
  }

  .collapsible-vertical.toggle-sidebar & > span {
    @apply duration-500 lg:opacity-100;
  }
}

@utility boxed-layout {
  /* boxed-layout */
  @apply mx-auto max-w-[1400px];

  &.vertical .sidebar {
    @apply overflow-hidden lg:ltr:left-auto lg:rtl:right-auto;
  }

  &.collapsible-vertical .sidebar {
    @apply overflow-hidden lg:ltr:left-auto lg:rtl:right-auto;
  }

  &.vertical.toggle-sidebar .sidebar {
    @apply lg:w-0;
  }
}

@utility btn {
  /* Buttons */
  @apply relative flex items-center justify-center rounded-md border px-5 py-2 text-sm font-semibold shadow-[0_10px_20px_-10px] outline-hidden transition duration-300 hover:shadow-none;
  &[disabled] {
    @apply cursor-not-allowed opacity-60;
  }
}

@utility btn-lg {
  @apply px-7 py-2.5 text-base;
}

@utility btn-sm {
  @apply px-2.5 py-1.5 text-xs;
}

@utility btn-primary {
  @apply border-primary bg-primary text-white shadow-primary/60;
}

@utility btn-outline-primary {
  @apply border-primary text-primary shadow-none hover:bg-primary hover:text-white;
}

@utility btn-secondary {
  @apply border-secondary bg-secondary text-white shadow-secondary/60;
}

@utility btn-outline-secondary {
  @apply border-secondary text-secondary shadow-none hover:bg-secondary hover:text-white;
}

@utility btn-success {
  @apply border-success bg-success text-white shadow-success/60;
}

@utility btn-outline-success {
  @apply border-success text-success shadow-none hover:bg-success hover:text-white;
}

@utility btn-danger {
  @apply border-danger bg-danger text-white shadow-danger/60;
}

@utility btn-outline-danger {
  @apply border-danger text-danger shadow-none hover:bg-danger hover:text-white;
}

@utility btn-warning {
  @apply border-warning bg-warning text-white shadow-warning/60;
}

@utility btn-outline-warning {
  @apply border-warning text-warning shadow-none hover:bg-warning hover:text-white;
}

@utility btn-info {
  @apply border-info bg-info text-white shadow-info/60;
}

@utility btn-outline-info {
  @apply border-info text-info shadow-none hover:bg-info hover:text-white;
}

@utility btn-dark {
  @apply border-dark bg-dark text-white shadow-dark/60;
}

@utility btn-outline-dark {
  @apply border-dark text-dark shadow-none hover:bg-dark hover:text-white;
}

@utility btn-gradient {
  @apply bg-linear-to-r from-[#EF1262] to-[#4361EE] hover:to-[#EF1262] hover:from-[#4361EE] text-white;
}

@utility badge {
  /* Badge */
  @apply relative my-1 rounded-sm border border-transparent px-2 py-0.5 text-xs font-semibold text-white;
}

@utility badge-outline-primary {
  @apply border-primary text-primary hover:bg-primary-light dark:hover:bg-primary dark:hover:text-white-light;
}

@utility badge-outline-secondary {
  @apply border-secondary text-secondary hover:bg-secondary-light dark:hover:bg-secondary dark:hover:text-white-light;
}

@utility badge-outline-success {
  @apply border-success text-success hover:bg-success-light dark:hover:bg-success dark:hover:text-white-light;
}

@utility badge-outline-danger {
  @apply border-danger text-danger hover:bg-danger-light dark:hover:bg-danger dark:hover:text-white-light;
}

@utility badge-outline-warning {
  @apply border-warning text-warning hover:bg-warning-light dark:hover:bg-warning dark:hover:text-white-light;
}

@utility badge-outline-info {
  @apply border-info text-info hover:bg-info-light dark:hover:bg-info dark:hover:text-white-light;
}

@utility badge-outline-dark {
  @apply border-dark text-dark hover:bg-dark-light dark:hover:bg-dark dark:hover:text-white-light;
}

@utility form-input {
  /* Form */
  @apply w-full rounded-md border-2 border-white-light bg-white px-4 py-2 text-sm font-semibold text-black outline-hidden! focus:border-primary focus:ring-transparent dark:border-[#17263c] dark:bg-[#121e32] dark:text-white-dark dark:focus:border-primary;

  .has-error & {
    @apply border-danger bg-danger/8 text-danger placeholder-danger/70 focus:border-danger;
  }

  .has-success & {
    @apply border-success bg-success/8 text-success placeholder-success/70 focus:border-success;
  }
}

@utility form-textarea {
  @apply w-full rounded-md border border-white-light bg-white px-4 py-2 text-sm font-semibold text-black outline-hidden! focus:border-primary focus:ring-transparent dark:border-[#17263c] dark:bg-[#121e32] dark:text-white-dark dark:focus:border-primary;

  .has-error & {
    @apply border-danger bg-danger/8 text-danger placeholder-danger/70 focus:border-danger;
  }

  .has-success & {
    @apply border-success bg-success/8 text-success placeholder-success/70 focus:border-success;
  }
}

@utility form-select {
  @apply w-full rounded-md border border-white-light bg-white px-4 py-2 text-sm font-semibold text-black outline-hidden! focus:border-primary focus:ring-transparent dark:border-[#17263c] dark:bg-[#121e32] dark:text-white-dark dark:focus:border-primary;

  .has-error & {
    @apply border-danger bg-danger/8 text-danger placeholder-danger/70 focus:border-danger;
  }

  .has-success & {
    @apply border-success bg-success/8 text-success placeholder-success/70 focus:border-success;
  }
}

@utility form-multiselect {
  @apply w-full rounded-md border border-white-light bg-white px-4 py-2 text-sm font-semibold text-black outline-hidden! focus:border-primary focus:ring-transparent dark:border-[#17263c] dark:bg-[#121e32] dark:text-white-dark dark:focus:border-primary;

  .has-error & {
    @apply border-danger bg-danger/8 text-danger placeholder-danger/70 focus:border-danger;
  }

  .has-success & {
    @apply border-success bg-success/8 text-success placeholder-success/70 focus:border-success;
  }
}

@utility form-input-lg {
  @apply py-2.5 text-base;
}

@utility form-textarea-lg {
  @apply py-2.5 text-base;
}

@utility form-select-lg {
  @apply py-2.5 text-base;
}

@utility form-multiselect-lg {
  @apply py-2.5 text-base;
}

@utility form-input-sm {
  @apply py-1.5 text-xs;
}

@utility form-textarea-sm {
  @apply py-1.5 text-xs;
}

@utility form-select-sm {
  @apply py-1.5 text-xs;
}

@utility form-multiselect-sm {
  @apply py-1.5 text-xs;
}

@utility has-error {
  & .form-input {
    @apply border-danger bg-danger/8 text-danger placeholder-danger/70 focus:border-danger;
  }

  & .form-textarea {
    @apply border-danger bg-danger/8 text-danger placeholder-danger/70 focus:border-danger;
  }

  & .form-select {
    @apply border-danger bg-danger/8 text-danger placeholder-danger/70 focus:border-danger;
  }

  & .form-multiselect {
    @apply border-danger bg-danger/8 text-danger placeholder-danger/70 focus:border-danger;
  }

  & .multiselect__tags {
    @apply border-danger bg-danger/8 text-danger placeholder-danger/70 focus:border-danger;
  }
  & .form-label {
    @apply text-danger;
  }
  & .form-help {
    @apply text-danger;
  }
  & .form-icon {
    @apply text-danger;
  }
  & .multiselect__placeholder {
    @apply text-danger;
  }
  & .multiselect__input {
    @apply bg-[#F7ECF0] placeholder-danger/70!;
  }
  & .multiselect__tags:hover {
    @apply border-danger;
  }
  & .form-checkbox {
    @apply border-danger;
  }
}

@utility multiselect__tags {
  .has-error & {
    @apply border-danger bg-danger/8 text-danger placeholder-danger/70 focus:border-danger;
  }
  .has-error &:hover {
    @apply border-danger;
  }

  .has-success & {
    @apply border-success bg-success/8 text-success placeholder-success/70 focus:border-success;
  }
  .has-success &:hover {
    @apply border-success;
  }
}

@utility form-label {
  .has-error & {
    @apply text-danger;
  }
  .has-success & {
    @apply text-success;
  }
}

@utility form-help {
  .has-error & {
    @apply text-danger;
  }

  .has-success & {
    @apply text-success;
  }
}

@utility form-icon {
  .has-error & {
    @apply text-danger;
  }

  .has-success & {
    @apply text-success;
  }
}

@utility multiselect__placeholder {
  .has-error & {
    @apply text-danger;
  }

  .has-success & {
    @apply text-success;
  }
}

@utility multiselect__input {
  .has-error & {
    @apply bg-[#F7ECF0] placeholder-danger/70!;
  }
  .has-success & {
    @apply bg-[#F7ECF0] placeholder-success/70!;
  }
}

@utility form-checkbox {
  .has-error & {
    @apply border-danger;
  }
  @apply h-5 w-5 cursor-pointer rounded-sm border-2 border-white-light bg-transparent text-primary shadow-none! outline-hidden! ring-0! ring-offset-0! checked:bg-size-[90%_90%] disabled:cursor-not-allowed disabled:bg-[#eee] ltr:mr-1.5 rtl:ml-1.5
      dark:border-[#253b5c] dark:checked:border-transparent dark:disabled:bg-[#1b2e4b];

  &.outline-primary:checked {
    @apply border-primary bg-transparent;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%234361ee' xmlns='http://www.w3.org/2000/svg'><path d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/></svg>");
  }
  &.outline-secondary:checked {
    @apply border-secondary bg-transparent;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23805dca' xmlns='http://www.w3.org/2000/svg'><path d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/></svg>");
  }
  &.outline-success:checked {
    @apply border-success bg-transparent;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%2300ab55' xmlns='http://www.w3.org/2000/svg'><path d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/></svg>");
  }
  &.outline-danger:checked {
    @apply border-danger bg-transparent;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23e7515a' xmlns='http://www.w3.org/2000/svg'><path d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/></svg>");
  }
  &.outline-warning:checked {
    @apply border-warning bg-transparent;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23e2a03f' xmlns='http://www.w3.org/2000/svg'><path d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/></svg>");
  }
  &.outline-info:checked {
    @apply border-info bg-transparent;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%232196f3' xmlns='http://www.w3.org/2000/svg'><path d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/></svg>");
  }
  &.outline-dark:checked {
    @apply border-dark bg-transparent;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%233b3f5c' xmlns='http://www.w3.org/2000/svg'><path d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/></svg>");
  }
}

@utility has-success {
  & .form-input {
    @apply border-success bg-success/8 text-success placeholder-success/70 focus:border-success;
  }

  & .form-textarea {
    @apply border-success bg-success/8 text-success placeholder-success/70 focus:border-success;
  }

  & .form-select {
    @apply border-success bg-success/8 text-success placeholder-success/70 focus:border-success;
  }

  & .form-multiselect {
    @apply border-success bg-success/8 text-success placeholder-success/70 focus:border-success;
  }

  & .multiselect__tags {
    @apply border-success bg-success/8 text-success placeholder-success/70 focus:border-success;
  }
  & .form-label {
    @apply text-success;
  }
  & .form-help {
    @apply text-success;
  }
  & .form-icon {
    @apply text-success;
  }
  & .multiselect__placeholder {
    @apply text-success;
  }
  & .multiselect__input {
    @apply bg-[#F7ECF0] placeholder-success/70!;
  }
  & .multiselect__tags:hover {
    @apply border-success;
  }
}

@utility form-radio {
  /* checkbox & radio */
  @apply h-5 w-5 cursor-pointer rounded-sm border-2 border-white-light bg-transparent text-primary shadow-none! outline-hidden! ring-0! ring-offset-0! checked:bg-size-[90%_90%] disabled:cursor-not-allowed disabled:bg-[#eee] ltr:mr-1.5 rtl:ml-1.5
      dark:border-[#253b5c] dark:checked:border-transparent dark:disabled:bg-[#1b2e4b];
  @apply rounded-full;

  &.outline-primary:checked {
    @apply border-primary bg-transparent bg-none;
  }
  &.outline-secondary:checked {
    @apply border-secondary bg-transparent bg-none;
  }
  &.outline-success:checked {
    @apply border-success bg-transparent bg-none;
  }
  &.outline-danger:checked {
    @apply border-danger bg-transparent bg-none;
  }
  &.outline-warning:checked {
    @apply border-warning bg-transparent bg-none;
  }
  &.outline-info:checked {
    @apply border-info bg-transparent bg-none;
  }
  &.outline-dark:checked {
    @apply border-dark bg-transparent bg-none;
  }
}

@utility outline-primary {
  &.form-checkbox:checked {
    @apply border-primary bg-transparent;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%234361ee' xmlns='http://www.w3.org/2000/svg'><path d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/></svg>");
  }

  &.form-radio:checked {
    @apply border-primary bg-transparent bg-none;
  }
}

@utility outline-secondary {
  &.form-checkbox:checked {
    @apply border-secondary bg-transparent;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23805dca' xmlns='http://www.w3.org/2000/svg'><path d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/></svg>");
  }
  &.form-radio:checked {
    @apply border-secondary bg-transparent bg-none;
  }
}

@utility outline-success {
  &.form-checkbox:checked {
    @apply border-success bg-transparent;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%2300ab55' xmlns='http://www.w3.org/2000/svg'><path d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/></svg>");
  }
  &.form-radio:checked {
    @apply border-success bg-transparent bg-none;
  }
}

@utility outline-danger {
  &.form-checkbox:checked {
    @apply border-danger bg-transparent;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23e7515a' xmlns='http://www.w3.org/2000/svg'><path d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/></svg>");
  }
  &.form-radio:checked {
    @apply border-danger bg-transparent bg-none;
  }
}

@utility outline-warning {
  &.form-checkbox:checked {
    @apply border-warning bg-transparent;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23e2a03f' xmlns='http://www.w3.org/2000/svg'><path d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/></svg>");
  }
  &.form-radio:checked {
    @apply border-warning bg-transparent bg-none;
  }
}

@utility outline-info {
  &.form-checkbox:checked {
    @apply border-info bg-transparent;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%232196f3' xmlns='http://www.w3.org/2000/svg'><path d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/></svg>");
  }
  &.form-radio:checked {
    @apply border-info bg-transparent bg-none;
  }
}

@utility outline-dark {
  &.form-checkbox:checked {
    @apply border-dark bg-transparent;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%233b3f5c' xmlns='http://www.w3.org/2000/svg'><path d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/></svg>");
  }
  &.form-radio:checked {
    @apply border-dark bg-transparent bg-none;
  }
}

@utility dropdown {
  /* dropdown */
  @apply relative;
  & > button {
    @apply flex;
  }
  & ul {
    @apply my-1 min-w-[120px] rounded-sm bg-white p-0 py-2 shadow-sm dark:bg-[#1b2e4b] text-black dark:text-white-dark;
  }
  & ul li > a {
    @apply flex items-center px-4 py-2 hover:bg-primary/10 hover:text-primary;
  }
  & ul li > button {
    @apply flex items-center px-4 py-2 hover:bg-primary/10 hover:text-primary;
  }
  & ul li > button {
    @apply w-full;
  }
}

@utility table-responsive {
  /* tables */
  @apply overflow-auto;
}

@utility table-hover {
  &table tbody tr {
    @apply hover:bg-white-light/20! dark:hover:bg-[#1a2941]/40!;
  }
}

@utility table-striped {
  &table tbody tr:nth-child(odd) {
    @apply bg-white-light/20! dark:bg-[#1a2941]/40!;
  }
}

@utility dataTable-table {
  &table tbody tr th {
    @apply border-b border-white-light/40 py-3 px-4 ltr:text-left rtl:text-right dark:border-[#191e3a];
  }

  & table tbody tr td {
    @apply border-b border-white-light/40 py-3 px-4 ltr:text-left rtl:text-right dark:border-[#191e3a];
  }
  &table tbody tr:last-child td {
    @apply border-b-0;
  }
}

@layer components {
    html {
        @apply scroll-smooth;
    }

    body {
        @apply bg-[#fafafa] font-nunito;
    }
    label {
        @apply mb-1.5 block font-semibold;
    }
    [dir='rtl'] select {
        background-position: left 0.5rem center;
    }
    table {
        @apply w-full border-collapse!;
    }
    table thead tr,
    table tfoot tr {
        @apply border-b-0 bg-[#f6f8fa]!  dark:bg-[#1a2941]!;
    }
    table thead tr th,
    table tfoot tr th,
    table tbody tr td {
        @apply py-3 px-4 ltr:text-left rtl:text-right;
    }
    table thead tr th,
    table tfoot tr th {
        @apply font-semibold;
    }
    table tbody tr {
        @apply border-b border-white-light/40! dark:border-[#191e3a]!;
    }

    /* code hightlight */
    pre {
        direction: ltr;
    }
}

/* perfect scrollbar */
.ps__rail-y > .ps__thumb-y,
.ps__rail-y > .ps__thumb-y {
    @apply w-1.5! bg-[#DDDDDD]! dark:bg-[#2d334c]!;
}
.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
    @apply opacity-60!;
}
.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
    @apply bg-transparent!;
}

/* swal2 */
.swal2-container .swal2-close {
    @apply text-white hover:text-dark-light focus:shadow-none;
}

.swal2-container .swal2-popup.swal2-toast {
    @apply bg-dark py-2.5 px-5;
}

.swal2-popup.swal2-toast .swal2-title,
.swal2-container .swal2-popup.swal2-toast .swal2-html-container {
    @apply text-white;
}
.swal2-container .swal2-popup.swal2-toast.color-primary {
    @apply bg-primary;
}

.swal2-container .swal2-popup.swal2-toast.color-secondary {
    @apply bg-secondary;
}

.swal2-container .swal2-popup.swal2-toast.color-warning {
    @apply bg-warning;
}
.swal2-container .swal2-popup.swal2-toast.color-info {
    @apply bg-info;
}
.swal2-container .swal2-popup.swal2-toast.color-danger {
    @apply bg-danger;
}
.swal2-container .swal2-popup.swal2-toast.color-success {
    @apply bg-success;
}

/* apex chart */
.apexcharts-canvas .apexcharts-tooltip.apexcharts-theme-light,
.apexcharts-canvas .apexcharts-xaxistooltip.apexcharts-theme-light {
    box-shadow: none;
    @apply border-[#050717cc] bg-[#050717cc] text-white;
}

.apexcharts-canvas .apexcharts-xaxistooltip-bottom:before,
.apexcharts-canvas .apexcharts-xaxistooltip-bottom:after {
    @apply border-b-[#050717cc];
}

.apexcharts-canvas .apexcharts-tooltip-series-group.apexcharts-active {
    @apply text-white;
}

.apexcharts-canvas .apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
    @apply border-dark bg-[#060818];
}

.apexcharts-legend-series {
    @apply ltr:mr-2! rtl:ml-2!;
}

.dark .apexcharts-title-text {
    fill: #e0e6ed;
}

.dark .apexcharts-canvas .apexcharts-text.apexcharts-xaxis-label,
.dark .apexcharts-canvas .apexcharts-text.apexcharts-yaxis-label {
    fill: #e0e6ed;
}

.dark .apexcharts-canvas .apexcharts-text,
.dark .apexcharts-canvas .apexcharts-text {
    fill: #e0e6ed;
}

.dark .apexcharts-canvas .apexcharts-legend-text {
    color: #e0e6ed !important;
}

.dark .apexcharts-canvas .apexcharts-radialbar-track.apexcharts-track .apexcharts-radialbar-area {
    stroke: #191e3a;
}
.dark .apexcharts-canvas .apexcharts-series-markers.apexcharts-series-bubble .apexcharts-marker {
    stroke: #191e3a;
}

.dark .apexcharts-canvas .apexcharts-pie-label,
.dark .apexcharts-canvas .apexcharts-datalabel,
.dark .apexcharts-canvas .apexcharts-datalabel-label,
.dark .apexcharts-canvas .apexcharts-datalabel-value {
    fill: #bfc9d4;
}

.dark .apexcharts-canvas .apexcharts-tooltip.apexcharts-theme-dark {
    box-shadow: none;
}

.apexcharts-canvas .apexcharts-legend-marker {
    @apply ltr:mr-1.5! rtl:ml-1.5 rtl:mr-0!;
}

[dir='rtl'] .apexcharts-tooltip-marker {
    @apply mr-0 ml-2.5;
}

/* Animations */
.slide-down-enter-active {
    @apply transition duration-100 ease-out;
}
.slide-down-leave-active {
    @apply transition duration-75 ease-in;
}
.slide-down-enter-from,
.slide-down-leave-to {
    @apply transform scale-95 opacity-0;
}
.slide-down-enter-to,
.slide-down-leave-from {
    @apply transform scale-100 opacity-100;
}

.modal-fade-enter-active {
    @apply transition duration-300 ease-out;
}
.modal-fade-leave-active {
    @apply transition duration-200 ease-in;
}
.modal-fade-enter-from,
.modal-fade-leave-to {
    @apply transform opacity-0 scale-95;
}
.modal-fade-enter-to,
.modal-fade-leave-from {
    @apply transform opacity-100 scale-100;
}

/* Hightlight JS */
pre.hljs {
    @apply p-6 rounded-md overflow-x-auto bg-[#191e3a]!;
}

@keyframes boat {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
}

@keyframes wave-one {
  0%, 100% { transform: translateX(5px); }
  50% { transform: translateX(-5px); }
}

@keyframes wave-two {
  0%, 100% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
}